.vs
Account.Application.Library/bin
Account.Application.Library/obj

Account.Common.Library/bin
Account.Common.Library/obj

Account.Domain.Library/bin
Account.Domain.Library/obj

Account.Domain.Test/bin
Account.Domain.Test/obj

Account.Infrastructure.Library/bin
Account.Infrastructure.Library/obj

Account.Infrastructure.Test/bin
Account.Infrastructure.Test/obj

Account.Application.Test/bin
Account.Application.Test/obj

Account.Logger.Library/bin
Account.Logger.Library/obj

Account.Infrastructure.Library/Migrations

Account.Presentation/bin
Account.Presentation/obj
Account.Presentation/Pictures