.vs
Common.Library/bin
Common.Library/obj

Domain.Library/bin
Domain.Library/obj

Domain.Test/bin
Domain.Test/obj

Infrastructure.Library/bin
Infrastructure.Library/obj

Infrastructure.Test/bin
Infrastructure.Test/obj

Application.Test/bin
Application.Test/obj

Logger.Library/bin
Logger.Library/obj

Infrastructure.Library/Migrations

Presentation/bin
Presentation/obj
